*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 5px; 
    color: blue;
}

.title {
text-align: justify;
}

#game-board {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 3px ;

}

.box {
    background: blanchedalmond;
    border: 1px solid blue;
    text-align: center;
  }

  .reset-button{
      background-color:grey;
      border: 10px;
      border-radius: 18px;
      justify-content: center;
  }